<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Ticketing | About</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>

<body>
    <header>
        <a href="/" class="link logo">
            <h1>E-Ticketing</h1>
        </a>
        <ul>
            <li><a href="/book" class="link">Book Tickets &rarr;</a></li>
            <li><a href="/" class="link">Home &rarr;</a></li>
            <li><a href="/contact" class="link">Contact &rarr;</a></li>
            <li><a href="/details" class="link">Ticket Details &rarr;</a></li>
        </ul>
    </header>

    <main>
        <h2 class="heading">About</h2>
        <p>E-Ticketing app is a convenient way of booking movie tickets online.
            Browse through an assortment of movies currently screening, intuitively pick seats and then enjoy the movie.
            It's that simple!
        </p>
        <h2 class="heading">Features</h2>
        <ul>
            <li>Rich User-Interface for easy operation</li>
            <li>Convenient booking of tickets</li>
            <li>User dashboard with details of booked tickets and previous bookings</li>
        </ul>
    </main>
</body>

</html>
