<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Ticketing | Contact</title>
    <link rel="stylesheet" href="/static/css/contact.css">
</head>

<body>
    <header>
        <a href="/" class="link logo">
            <h1>E-Ticketing</h1>
        </a>
        <ul>
            <li><a href="/book" class="link">Book Tickets &rarr;</a></li>
            <li><a href="/" class="link">Home &rarr;</a></li>
            <li><a href="/about" class="link">About &rarr;</a></li>
            <li><a href="/details" class="link">Ticket Details &rarr;</a></li>
        </ul>
    </header>

    <main>
        <h2 class="heading">📞 Contact</h2>
        <h4>&copy; Dridhu Madan, 2019</h4>
        <h4>Twitter - <a href="https://twitter.com/blitzcs" target="_blank">@dridhumadan</a></h4>
        <h4>Version - 1.0.0 (beta)</h4>

    </main>
</body>

</html>
