<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Ticketing | Home</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <header>
        <a href="/" class="link logo">
            <h1>E-Ticketing</h1>
        </a>
        <ul>
            <li><a href="/book" class="link">Book Tickets &rarr;</a></li>
            <li><a href="/about" class="link">About &rarr;</a></li>
            <li><a href="/contact" class="link">Contact &rarr;</a></li>
            <li><a href="/details" class="link">Ticket Details &rarr;</a></li>
        </ul>
    </header>

    <div class="content-wrapper">
        <main>
            <h1 class="jumbo">Movies Redefined 🎥</h1>
            <h2 class="desc">The most advanced technology to ensure you get the best viewing experience. <br>
                So sit back, relax, grab some popcorn and enter the magical 🌈 world of cinema.
            </h2>
            <a href="/book" class="btn">Book Tickets &rarr;</a>

        </main>
    </div>
</body>

</html>
