<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Ticketing | Success</title>
    <link rel="stylesheet" href="/static/css/success.css">
</head>

<body>
    <header>
        <a href="/" class="link logo">
            <h1>E-Ticketing</h1>
        </a>
        <ul>
            <li><a href="/book" class="link">Book Tickets &rarr;</a></li>
            <li><a href="/" class="link">Home &rarr;</a></li>
            <li><a href="/about" class="link">About &rarr;</a></li>
            <li><a href="/contact" class="link">Contact &rarr;</a></li>
            <li><a href="/details" class="link">Ticket Details &rarr;</a></li>
        </ul>
    </header>

    <main>
        <h2 class="heading">Success</h2>
        <h3>Booking successful! Head over to the details section to get the ticket details.</h3>
    </main>
</body>

</html>
